@import "../general/abstracts/main-theme.css";

.ikonli-font-icon:socials
{
    -fx-icon-color: #ffffff;
    -fx-icon-size:  32px;
}

.label:title
{
    -fx-font-size:   24px;
    -fx-underline:   true;
    -fx-font-family: "Martian Mono Cn Bd";
}
