@import "../general/abstracts/main-theme.css";

.ikonli-font-icon:module-icons
{
    -fx-icon-color: #ffffff;
    -fx-icon-size:  96px;
}

.button:selected-version
{
    -fx-background-color: #3d334a;
    -fx-underline:        true;
    -fx-font-family:      "Martian Mono Cn Bd";
}

